
{% extends 'layout.html' %}
{% include 'nav_bar_admin.html' %}
{% block content %}

    <div class="container">
        <h1 class="text-center">Hello Admin</h1>

        

        <!-- Services Table -->
        <div>
        {% include 'admin_services_list.html' %}
        </div>
        <button type="button" class="btn btn-success float-end me-2" data-bs-toggle="modal" data-bs-target="#newServiceModal">
            + New Service
        </button>
        <div></div>
        

        <!-- Include the admin_professionals.html Section -->
    {% include 'admin_professionals.html' %}

            <!-- Include the service request  Section -->
            {% include 'admin_service_requests.html' %}

      
        
    </div>

    {% endblock %}
    