<h2>List of Services</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Base Price</th>
                <th>Time Required</th>
                <th>Description</th>
                <th>Book</th>   
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.base_price }}</td>
                    <td>{{ service.time_required }}</td>
                    <td>{{ service.description }}</td>
                    <td>
                        <form method="post" action="new-service-request/{{ service.id }}" onsubmit="">
                            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#newServiceModal" 
                            data-service-id="{{ service.id }}">
                        Book
                    </button>
                    </td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
  