<div class="row">
    {% for service_type in service_types %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card mb-4 shadow service-card" 
             data-service-type-id="{{ service_type.id }}" 
             style="background-image: url('{{ url_for('static', filename=service_type.image_url) }}'); background-size: cover; height: 350px; position: relative;">
            <div class="card-body text-dark" style="background-color: rgba(255, 255, 255, 0.25); padding: 20px;">
                <h2 class="card-title"></h2>
                <h2 class="card-title" style="background-color: rgba(0, 0, 0, 0.3); color: white; padding: 10px; border-radius: 5px;">{{ service_type.display_name }}</h2>
               
            </div>
            <form method="post" action="best_package/{{ service_type.id }}" onsubmit="">
                <button class="btn btn-primary view-packages-btn" data-service-id="{{ service_type.id }}" 
                    style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); 
                           width: 80%; text-align: center; white-space: normal;">
                    Packages<br><strong>Base Price: INR {{ service_type.base_price }}</strong>
                </button>
            </form>
            
            
            
        </div>
    </div>
    {% endfor %}
</div>