
{% extends 'layout.html' %}
{% include 'nav_bar_prof.html' %}
{% block content %}

    <div class="container">
     <h1 class="text-center">Hello {{ service_professional.name }}</h1> <!-- Display Professional name -->
     <!-- Include the Past Service Requests Section -->
    {% include 'pro_today_service_requests.html' %}
    <!-- Include the Past Service Requests Section -->
    {% include 'pro_past_service_requests.html' %}
        
    </div>

    {% endblock %}
    {% block scripts %}
    <script>
       
    </script>
    {% endblock %}
    